ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {display: inline;
	float: left;
}

li a {display: block;
		color: #F1C40F;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-family: 'Bebas Neue', cursive;
		font-size: 25px;
}

li a:hover {
	background-color: #F1C40F;
	color: black;
}


body {
	background-image: url("tvmg.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin-top: 1000px;
	 margin-bottom: 100px;
	 opacity:;
}

h1 {			
	color: #F1C40F ;
	text-align: center;
	text-shadow: ;
	margin-bottom: 400px;
	font-family: 'Bebas Neue', cursive;
	font-size: 35px;
}

img {
	height: 150px;
	width: 150px;
	margin-bottom: 50px;
}

input {
	width: 35%;
	padding: 12px 20px;
	margin: 8px 0px;
	box-sizing: border-box;
}


input[type=submit] {
	background-color: black;
	color: white;
	border: none;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	width: 15%;

}

form {
	text-align: center;
	margin-top: 350px;

}

footer {
	text-align: center;
	background-color: black;
	color: white;
	margin-top: 700px;
	height: 100px;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	padding: 5px;
}

label {
	color: white;
}

h2 {
	margin: 10px;
	margin-bottom: 250px;
	color: #F1C40F;
	text-shadow: 2px 2px 1px  solid black;
	font-family: 'Bebas Neue', cursive;

}

p {
	color: white;
	font-family: 'Bebas Neue', cursive;
}

.listen {
	margin-top: 300px;
	background-color:;
	padding: 10px;
%;
}


button {
	padding-left: 10px;
	margin-right: 10px;
	background-color: red;
	color: white;
	height: 50px;
	border-radius:  20px;
}

p { color: red; 
	text-shadow: 1px 1px 1px black;
	font-size: 27px;
}

.g-brooks {
	color: #1F96E9 ;
}

.container {
	height: 500px;
}